In [8]:
import pandas as pd
import requests
import ast

In [2]:
df = pd.read_csv('top_rated_movies_all_pages.csv')

In [3]:
# Only select 3 columns to work with

df = df[['original_title','overview','genre_ids']]

df

,original_title,overview,genre_ids
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]"
4,12 Angry Men,The defense and the prosecution have rested an...,[18]
...,...,...,...
9995,Speed 2: Cruise Control,A disgruntled former employee hijacks the Seab...,"[28, 12, 53]"
9996,Halloween: Resurrection,Reality programmers at DangerTainment select a...,"[27, 53]"
9997,Melissa P.,"An adolescent girl, living with her mother and...",[18]
9998,Dark Crimes,"Tadek, a Polish detective, becomes suspicious ...","[18, 53]"
9999,The Return of the Texas Chainsaw Massacre,After a group of Texas teenagers leave prom ni...,"[35, 27, 53]"

In [6]:
## Fetching movie genres from other api

# Define API URL
url = "https://api.themoviedb.org/3/genre/movie/list"
params = {
    "api_key": "8265bd1679663a7ea12ac168da84d2e8",
    "language": "en-US"
}

# Make the request
response = requests.get(url, params=params)

# Check if successful
if response.status_code == 200:
    data = response.json()
    genres = data.get('genres', [])
else:
    print(f"Failed to fetch data: {response.status_code}")
    genres = []

genre_mapping = {g['id']: g['name'] for g in genres}

genre_mapping

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

In [9]:
# merge genre with ids

def get_genre_names(genre_ids):
    genre_names = [genre_mapping.get(int(g_id), "Unknown") for g_id in genre_ids]
    return ', '.join(genre_names)

df['genre_ids'] = df['genre_ids'].apply(ast.literal_eval) 
df['genre_names'] = df['genre_ids'].apply(get_genre_names)

df

,original_title,overview,genre_ids,genre_names
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]","Drama, Crime"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]","Drama, Crime"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]","Drama, Crime"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]","Drama, History, War"
4,12 Angry Men,The defense and the prosecution have rested an...,[18],Drama
...,...,...,...,...
9995,Speed 2: Cruise Control,A disgruntled former employee hijacks the Seab...,"[28, 12, 53]","Action, Adventure, Thriller"
9996,Halloween: Resurrection,Reality programmers at DangerTainment select a...,"[27, 53]","Horror, Thriller"
9997,Melissa P.,"An adolescent girl, living with her mother and...",[18],Drama
9998,Dark Crimes,"Tadek, a Polish detective, becomes suspicious ...","[18, 53]","Drama, Thriller"
9999,The Return of the Texas Chainsaw Massacre,After a group of Texas teenagers leave prom ni...,"[35, 27, 53]","Comedy, Horror, Thriller"