In [1]:
# !pip install requests
# !pip install textblob

In [2]:
import requests
import json
import ast
import re
import pandas as pd
import string,time

from textblob import TextBlob
from nltk.corpus import stopwords

In [3]:
# api_key = "8265bd1679663a7ea12ac168da84d2e8"
# url = "https://api.themoviedb.org/3/movie/top_rated"
# all_movies = []

# # Get total number of pages
# params = {
#     "api_key": api_key,
#     "language": "en-US",
#     "page": 1
# }
# response = requests.get(url, params=params)
# data = response.json()
# total_pages = data.get("total_pages", 1)

# # Loop through all pages
# for page in range(1, total_pages + 1):
#     params["page"] = page
#     res = requests.get(url, params=params)
#     if res.status_code == 200:
#         movies = res.json().get("results", [])
#         all_movies.extend(movies)
#         # print(f"Saved page {page}/{total_pages}")
#     else:
#         print(f"Failed to fetch page {page}")

# # Save to CSV
# df = pd.DataFrame(all_movies)
# df.to_csv("top_rated_movies_all_pages.csv", index=False)

# print(f"âœ… Saved {len(df)} movies from {total_pages} pages.")

In [12]:
df = pd.read_csv('top_rated_movies_all_pages.csv')

In [5]:
df.tail()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
9995,False,/hKcO8mX9oqfBKlZ8nibJCPSeqMj.jpg,"[28, 12, 53]",1639,en,Speed 2: Cruise Control,A disgruntled former employee hijacks the Seab...,2.7935,/gnK1ocpwUTj24zAktzomOJsD2bu.jpg,1997-06-13,Speed 2: Cruise Control,False,4.609,1674
9996,False,/wpkcvqArMg5YUAPBq7t15Wq5APt.jpg,"[27, 53]",11442,en,Halloween: Resurrection,Reality programmers at DangerTainment select a...,1.9128,/1mlKwbNzJCGzqe4i0ZEJtUUL290.jpg,2002-07-01,Halloween: Resurrection,False,4.607,1303
9997,False,/c6hFzNJIAGT84E6SfuuqEZNJlqH.jpg,[18],13461,it,Melissa P.,"An adolescent girl, living with her mother and...",5.8144,/3fjMLEVozmApiiDF75dnpSIaYZ3.jpg,2005-11-18,Melissa P.,False,4.600,565
9998,False,/7vR0frpPSBhToKKESNfnPfDTY8y.jpg,"[18, 53]",340674,en,Dark Crimes,"Tadek, a Polish detective, becomes suspicious ...",2.2477,/bEwK1r4pmJ9huEjqrZf73NXJvFy.jpg,2016-10-12,Dark Crimes,False,4.600,451
9999,False,/eZvVoJc3XrAE81bmNhtyTUDti8b.jpg,"[35, 27, 53]",16780,en,The Return of the Texas Chainsaw Massacre,After a group of Texas teenagers leave prom ni...,2.6221,/e1ikqofvLBddrZJ73IjmJWhUYus.jpg,1995-09-22,The Return of the Texas Chainsaw Massacre,False,4.597,694

In [6]:
df.shape

(10000, 14)

In [13]:
df = df[['original_title','overview','genre_ids']]

df

,original_title,overview,genre_ids
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]"
4,12 Angry Men,The defense and the prosecution have rested an...,[18]
...,...,...,...
9995,Speed 2: Cruise Control,A disgruntled former employee hijacks the Seab...,"[28, 12, 53]"
9996,Halloween: Resurrection,Reality programmers at DangerTainment select a...,"[27, 53]"
9997,Melissa P.,"An adolescent girl, living with her mother and...",[18]
9998,Dark Crimes,"Tadek, a Polish detective, becomes suspicious ...","[18, 53]"
9999,The Return of the Texas Chainsaw Massacre,After a group of Texas teenagers leave prom ni...,"[35, 27, 53]"

In [18]:
# ## Fetching movie genres from other api

# # Define API URL
# url = "https://api.themoviedb.org/3/genre/movie/list"
# params = {
#     "api_key": "8265bd1679663a7ea12ac168da84d2e8",
#     "language": "en-US"
# }

# # Make the request
# response = requests.get(url, params=params)

# # Check if successful
# if response.status_code == 200:
#     data = response.json()
#     genres = data.get('genres', [])
# else:
#     print(f"Failed to fetch data: {response.status_code}")
#     genres = []
    
# genre_mapping = {g['id']: g['name'] for g in genres}

# # Save to CSV
# genres_df = pd.DataFrame(genres)
# genres_df.to_csv("genres_of_top_rated_movies.csv", index=False)

# print(f"âœ… Saved {len(df)} movie genres.")

âœ… Saved 10000 movie genres.

In [22]:
genre_df = pd.read_csv("genres_of_top_rated_movies.csv")

genre_df

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

In [28]:
genre_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      19 non-null     int64
 1   name    19 non-null     object
dtypes: int64(1), object(1)
memory usage: 432.0+ bytes

In [25]:
def get_genre_names(genre_ids):
    genre_names = [genre_df.get(id, "Unknown") for id in genre_ids]
    return ', '.join(genre_names)

df['genre_names'] = df['genre_ids'].apply(get_genre_names)

df

,original_title,overview,genre_ids,genre_names
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]","Unknown, Unknown, Unknown, Unknown, Unknown, U..."
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]","Unknown, Unknown, Unknown, Unknown, Unknown, U..."
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]","Unknown, Unknown, Unknown, Unknown, Unknown, U..."
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]","Unknown, Unknown, Unknown, Unknown, Unknown, U..."
4,12 Angry Men,The defense and the prosecution have rested an...,[18],"Unknown, Unknown, Unknown, Unknown"
...,...,...,...,...
9995,Speed 2: Cruise Control,A disgruntled former employee hijacks the Seab...,"[28, 12, 53]","Unknown, Unknown, Unknown, Unknown, Unknown, U..."
9996,Halloween: Resurrection,Reality programmers at DangerTainment select a...,"[27, 53]","Unknown, Unknown, Unknown, Unknown, Unknown, U..."
9997,Melissa P.,"An adolescent girl, living with her mother and...",[18],"Unknown, Unknown, Unknown, Unknown"
9998,Dark Crimes,"Tadek, a Polish detective, becomes suspicious ...","[18, 53]","Unknown, Unknown, Unknown, Unknown, Unknown, U..."
9999,The Return of the Texas Chainsaw Massacre,After a group of Texas teenagers leave prom ni...,"[35, 27, 53]","Unknown, Unknown, Unknown, Unknown, Unknown, U..."

In [11]:
df['overview'][3].lower()

'the true story of how businessman oskar schindler saved over a thousand jewish lives from the nazis while they worked as slaves in his factory during world war ii.'

In [12]:
# df['overview'] = df['overview'].str.lower()

# df

In [13]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [14]:
exclude = string.punctuation

def remove_punc(text):
    return text.translate(str.maketrans('', '', exclude))

In [15]:
start = time.time()

for i in range(len(df)):
    remove_punc(df['overview'][i])

time2 = time.time() - start
print(time2*50000)

6601.476669311523

In [16]:
df['overview'][3]

'The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.'

In [17]:
# Open and read the chat_words.txt file
file_path = 'D:/oishee/jobs/2025/NLP/kaggle_movie_review/datasets/slang.txt'

# Create an empty dictionary
chat_words = {}

# Read and process the file
with open(file_path, 'r', encoding='utf-8') as file:
     for line in file:
        if line.strip():
            parts = re.split(r'\s*[:=â€“â€”\-]{1,2}>\s*|\s*[:=â€“â€”\-]\s*', line.strip(), maxsplit=1)
            if len(parts) == 2:
                key, value = parts
                chat_words[key.strip().upper()] = value.strip()

In [18]:
def chat_conversion(text):
    new_text = []
    for w in text.split():
        if w.upper() in chat_words:
            new_text.append(chat_words[w.upper()])
        else:
            new_text.append(w)
    return " ".join(new_text)

In [19]:
# import nltk
# nltk.download('stopwords')

In [20]:
# stopwords.words('english')

In [21]:
def remove_stopwords(text):
    new_text = []
    
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

In [22]:
df = df['overview'].apply(remove_stopwords)

KeyboardInterrupt: